# Porta do servidor
PORT=3000

# Banco de Dados PostgreSQL
DB_HOST=host
DB_PORT=1234
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=password

# JWT - Validação
JWT_SECRET=jwt_secret

# informações da empresa
COMPANY_LEGAL_NAME="COMPANY_LEGAL_NAME"
COMPANY_CNPJ="xx.xxx.xxx/xxxx-xx"
COMPANY_ADDRESS="COMPANY_ADDRESS"
COMPANY_CITY="COMPANY_CITY - CEP: xx.xxx-xxx"
COMPANY_PHONE="(xx) xxxx-xxxx"
COMPANY_EMAIL="COMPANY_EMAIL@email.com"